<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>俺　風〇店　無理???</title>
        <style>
            body{
                width: 960px;
                margin: 0 auto;
                padding-top: 50px;
            }
            nav > a {
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="{% url 'store_list' %}">Home</a>
            <a href="https://youtu.be/y_S8Eym6VZI">プロモーションビデオ</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_page' %}">MyPage</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">私たちと働きたい方はこちら</a>
            {% endif %}
        </nav>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </body>
</html>