{% extends 'booking/base.html' %}
{% block content %}
    <h1>{{ user.username }}のMyPage</h1>
    <h2>所属店舗のスケジュール</h2>
    <ul>
        {% for staff in staff_list %}
        <li><a href="{% url 'my_page_calendar' staff.pk %}">{{ staff }}</a></li>
        {% empty %}
            <li>まだ店舗がありません。</li>
        {% endfor %}
    </ul>
    <h2>直近の予約</h2>
    <ul>
        {% for schedule in schedule_list %}
            <li><a href="{% url 'my_page_schedule' schedule.pk %}">{{ schedule }}</a></li>
        {% empty %}
            <li>予約はありません。</li>
        {% endfor %}
    </ul>
        {% if staff_list %}
            <h2>源氏名・所属店舗の<a href="{% url 'add_store' user.pk %}">追加</a>と<a href="{% url 'staff_change' user.pk %}">削除</a></h2>
        {% else %}
            <h2>源氏名・所属店舗の<a href="{% url 'add_staff' user.pk %}">作成</a></h2>
        {% endif %}
{% endblock %}